<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About E-voter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary bg-opacity-25 fs-5">
    {% include "main_head_arelt.html" %} {% include "main_navbar.html" %}

    <div class="container bg-primary bg-opacity-100 border rounded mt-2 mb-5">
      <section class="content-tab text-center">
        <p class="h1 border border-primary bg-light rounded mb-3 mt-3 p-2">
          About the E voter portal
        </p>
        <p
          class="border border-primary rounded mb-3 bg-light p-3"
          style="font-size: 20px"
        >
          The Election Commission of India (ECI) stands as a pillar of
          democracy, entrusted with the crucial responsibility of conducting
          free and fair elections in the world's largest democracy. Established
          on January 25, 1950, the ECI operates autonomously under the
          provisions of the Constitution of India. Comprising a Chief Election
          Commissioner (CEC) and two Election Commissioners, it is responsible
          for overseeing all aspects of the electoral process, from voter
          registration to the declaration of results. At the heart of the ECI's
          mandate lies its commitment to ensuring electoral integrity and
          upholding democratic principles. The commission operates with
          impartiality, independence, and transparency, striving to provide a
          level playing field for all political parties and candidates. Its
          efforts are directed towards fostering public trust in the electoral
          process and safeguarding the democratic rights of citizens. One of the
          ECI's primary functions is the conduct of elections at various levels
          of government, including parliamentary, state legislative, and local
          body elections. It meticulously plans and executes the entire
          electoral process, from the announcement of election dates to the
          deployment of polling personnel and the counting of votes. Through
          robust mechanisms and stringent protocols, the ECI endeavors to
          prevent malpractices such as voter coercion, electoral fraud, and
          misuse of official resources. The commission places significant
          emphasis on voter education and awareness programs to ensure maximum
          participation and informed decision-making among citizens. It employs
          various means, including mass media campaigns, outreach activities,
          and voter literacy initiatives, to empower voters with the knowledge
          and understanding necessary to make informed choices at the ballot
          box.
        </p>
        <p
          class="border border-primary rounded mb-3 bg-light p-3"
          style="font-size: 20px"
        >
          Central to the ECI's operations is the electoral roll, a comprehensive
          database of eligible voters across the country. The commission
          undertakes continuous efforts to update and maintain this roll,
          incorporating new voters, removing deceased individuals, and
          rectifying inaccuracies. By ensuring the accuracy and inclusivity of
          the electoral roll, the ECI seeks to guarantee that every eligible
          citizen has the opportunity to exercise their franchise. The ECI also
          plays a vital role in enforcing the model code of conduct (MCC), a set
          of guidelines aimed at ensuring fair play and ethical conduct during
          elections. Political parties, candidates, and government officials are
          bound by the MCC, which regulates various aspects such as campaigning,
          speeches, and election expenditure. Through vigilant monitoring and
          swift action against violations, the ECI upholds the integrity of the
          electoral process and maintains a level playing field for all
          stakeholders. In addition to its core responsibilities, the ECI
          continually explores avenues for innovation and improvement in
          electoral administration. It embraces technological advancements to
          enhance the efficiency, transparency, and accessibility of the
          electoral process. Initiatives such as electronic voting machines
          (EVMs), voter verifiable paper audit trails (VVPATs), and online voter
          registration have transformed the conduct of elections, making them
          more secure, convenient, and tamper-proof. In conclusion, the Election
          Commission of India stands as a beacon of democracy, steadfast in its
          commitment to conducting free, fair, and credible elections. Through
          its unwavering dedication, impartiality, and innovation, the ECI plays
          a pivotal role in safeguarding the democratic rights and aspirations
          of the Indian electorate, ensuring that the voice of the people
          resonates loud and clear in the halls of power.
        </p>
      </section>
    </div>

    <fotter class="container-fluid text-center">
      <div class="copyRights">
        © Copyright E voter portal 2024<span style="color: rgb(7, 48, 89)"
          >| V 1.0</span
        >
      </div>
    </fotter>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
