<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contacts E-voter</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary bg-opacity-25 fs-5">
    {% include "main_head_arelt.html" %} {% include "main_navbar.html" %}

    <div class="container bg-primary bg-opacity-70 border rounded mt-2 mb-3">
      <p class="h1 text-center p-3 text-white">
        Contact details for the E voter portal
      </p>
      <section class="education-area" id="section1">
        <div class="container m-0 bg-light">
          <div class="row">
            <div class="col-md-6 col-12"></div>
          </div>
          <address class="address-list mt-5 border rounded p-4 mt-2 mb-5">
            <h4>The Office</h4>
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>Address:</li>
                    <li>Nirvachan Sadan,</li>
                    <li>Ashoka Road, New Delhi 110001</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>EPABX:</li>
                    <li>23052205 - 10, 23052212 - 18,</li>
                    <li>23052146, 23052148, 23052150</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>Email:</li>
                    <li>complaints@eci.gov.in</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>Control Room:</li>
                    <li>23052220, 23052221</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>Faxline:</li>
                    <li>23052219, 23052162/63/19</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="d-flex icon-content align-items-center">
                  <ul>
                    <li>For general enquiries:</li>
                    <li>1950</li>
                  </ul>
                </div>
              </div>
            </div>
          </address>
          <div
            class="rti-content border rounded border-warning mt-5 mb-5 p-4 align-items-center"
          >
            <div class="row align-items-center">
              <div class="col-md-6 col-12">
                <div class="context align-items-center">
                  <h2>Right to Information (RTI)</h2>
                  <h5>
                    Address to send RTI application of ECI is given below:
                  </h5>
                  <ul class="align-items-center">
                    <li>Election Commission of India,</li>
                    <li>Nirvachan Sadan, Ashoka Road,</li>
                    <li>New Delhi 110001</li>
                  </ul>
                  <h6>
                    or visit ECI online RTI Portal
                    <a href="https://rti.eci.nic.in/" target="_blank"
                      >(https://rti.eci.nic.in/)</a
                    >
                    to file online RTI
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <fotter class="container-fluid text-center">
      <div class="copyRights">
        © Copyright E voter portal 2024<span style="color: rgb(7, 48, 89)"
          >| V 1.0</span
        >
      </div>
    </fotter>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
